* {
	margin:0;
	padding: 0;
}

body,html {
	height: 100%;
	background-color: #2d5270;
	overflow-x: hidden;
	font-family: 'montserrat', sans-serif;
}

form {
	display: none;
}

.weatherType {
	height: 100px;
	width: 100px;
	margin: 10% 0 0 10%;
	position: absolute;
}

.background__container {
	height: 70%;
	width: 100vw;
	background: url(test2.svg) center no-repeat;
	background-size: contain;
	background-position: bottom;
}

.data__container {
	position: relative;
	height: 30%;
	background-color: #f0f4f7;
	text-align: center;
	color: #2d5270;
}

.data__containerCenterfix {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.data__location {
	font-size: 20px;
}

.data__time {
	font-size: 12px;
	padding: 8px 0;
	font-weight: 400;
}

.temp__container p{
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
	background-color: #f0f4f7;
	width: 38px;
	height: 38px;
	line-height: 38px;
	border-radius: 50%;
	transition: .35s;
   -webkit-user-select: none;  /* Chrome all / Safari all */
   -moz-user-select: none;     /* Firefox all */
   -ms-user-select: none;      /* IE 10+ */
   user-select: none;
}

.temp__container p:hover {
	background-color: #2d5270;
	color: #f0f4f7;
}